<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>POSIT PROJECT</title>
  <base href="http://127.0.0.1:7000/" target="_blank">
  <link rel="stylesheet" href="/public/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src="public/js/app.js" defer></script>
</head>
<body>


  <div class="main-wrapper" id="app">
    <!-- Vue App HTML Code -->
    <diV class="login-wraper" v-bind:class="{ hide: hideLogin }">
      <select v-model="entity" @change="handleLoginSelect">
        <option value="0" selected>Select your role</option>
        <option value="-1">ADMIN</option>
        <%technicianData.forEach(item => {%>
            <option value="<%=item.id%>"><%=item.name%></option>
        <%})%>
      </select>
    </div>
    <div v-bind:class="{ hide: !hideLogin }" class="dashboard" >
      <div class="header">
        <p>{{date}}</p>
        <h1>{{name}}</h1>
        <a @click="handleLogout">logout</a>
      </div>
      <div class="main-body">
        <div class="add-ticket" @click="handleAddTicket" v-bind:class="{ hide: hideAddTicket}">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 489.8 489.8" style="enable-background:new 0 0 489.8 489.8;" xml:space="preserve">
            <g>
            	<g>
            		<path d="M438.2,0H51.6C23.1,0,0,23.2,0,51.6v386.6c0,28.5,23.2,51.6,51.6,51.6h386.6c28.5,0,51.6-23.2,51.6-51.6V51.6
            			C489.8,23.2,466.6,0,438.2,0z M465.3,438.2c0,14.9-12.2,27.1-27.1,27.1H51.6c-14.9,0-27.1-12.2-27.1-27.1V51.6
            			c0-14.9,12.2-27.1,27.1-27.1h386.6c14.9,0,27.1,12.2,27.1,27.1V438.2z"/>
            		<path d="M337.4,232.7h-80.3v-80.3c0-6.8-5.5-12.3-12.3-12.3s-12.3,5.5-12.3,12.3v80.3h-80.3c-6.8,0-12.3,5.5-12.3,12.2
            			c0,6.8,5.5,12.3,12.3,12.3h80.3v80.3c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3v-80.3h80.3c6.8,0,12.3-5.5,12.3-12.3
            			C349.7,238.1,344.2,232.7,337.4,232.7z"/>
            	</g>
            </g>
          </svg>
        </div>
        <div class="data-table-wraper" v-bind:class="{ hide: hideAddTicket && entity < 0}">
          <div class="section-title"><h1>Service calls</h1></div>
          <table>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Customer</th>
              <th>Hardware</th>
              <th>Technician</th>
              <th>Warehouse</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
            <tr v-for="ticket in tickets">
              <td>{{ticket.title}}</td>
              <td>{{ticket.description}}</td>
              <td>{{findName(ticket.customer_id,"customers")}}</td>
              <td>{{ticket.hardware}}</td>
              <td>{{findName(ticket.technician_id,"technicians")}}</td>
              <td>{{findName(ticket.warehouse_id,"warehouses")}}</td>
              <td>{{ticket.date}}</td>
              <td v-bind:class="{ hide: entity > 0}">
                <div class="action-wraper">
                  <div class="action-button" :id=ticket.id @click="handleDeleteTicket">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	 viewBox="0 0 473 473" style="enable-background:new 0 0 473 473;" xml:space="preserve">
                        <g>
                        	<path d="M324.285,215.015V128h20V38h-98.384V0H132.669v38H34.285v90h20v305h161.523c23.578,24.635,56.766,40,93.477,40
                        		c71.368,0,129.43-58.062,129.43-129.43C438.715,277.276,388.612,222.474,324.285,215.015z M294.285,215.015
                        		c-18.052,2.093-34.982,7.911-50,16.669V128h50V215.015z M162.669,30h53.232v8h-53.232V30z M64.285,68h250v30h-250V68z M84.285,128
                        		h50v275h-50V128z M164.285,403V128h50v127.768c-21.356,23.089-34.429,53.946-34.429,87.802c0,21.411,5.231,41.622,14.475,59.43
                        		H164.285z M309.285,443c-54.826,0-99.429-44.604-99.429-99.43s44.604-99.429,99.429-99.429s99.43,44.604,99.43,99.429
                        		S364.111,443,309.285,443z"/>
                        	<polygon points="342.248,289.395 309.285,322.358 276.323,289.395 255.11,310.608 288.073,343.571 255.11,376.533 276.323,397.746
                        		309.285,364.783 342.248,397.746 363.461,376.533 330.498,343.571 363.461,310.608 	"/>
                        </g>
                    </svg>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div class="employee-msg" v-bind:class="{ hide: entity > 0}">
            <h2>Employees of the month: {{employeeOfTheMonth}}</h2>
          </div>
        </div>
        <div class="new-ticket-wraper" v-bind:class="{ hide: !newTicketBoardVisible}">
          <div class="section-title"><h1>Create New Service Call</h1></div>
          <div class="row">
            <div class="row-item">
              <label for="ticket_title">Title</label>
              <input id="ticket_title" type="text" v-model="ticket.title"/>
            </div>
            <div class="row-item">
              <label for="ticket_description">Description</label>
              <textarea id="ticket_description" v-model="ticket.description"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="row-item">
              <label for="ticket_customer">Customer</label>
              <select id="ticket_customer" v-model="ticket.customer_id" >
                <option v-for="customer in customers" :value=customer.id>{{customer.name}}</optin>
              </select>
            </div>
            <div class="row-item">
              <label for="ticket_hardware">Hardware</label>
              <select id="ticket_hardware" v-model="ticket.hardware" @change="handleHardwareChange">
                <option value="pinpad">pinpad</option>
                <option value="weight">weight</option>
                <option value="scanner">scanner</option>
                <option value="biometric reader">biometric reader</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="row-item">
              <label for="ticket_technician">Technician</label>
              <select id="ticket_technician" v-model="ticket.technician_id">
                <option v-for="technician in technicians" :value=technician.id>{{technician.name}}</option>
              </select>
            </div>
            <div class="row-item">
              <label for="ticket_warehouse">Warehouse</label>
              <select id="ticket_warehouse" v-model="ticket.warehouse_id">
                <option v-for="warehouse in warehouses" :value=warehouse.id :disabled="!warehouse.avialble">{{warehouse.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="row-item">
              <label for="ticket_date">Date</label>
              <input id="ticket_date" type="date" v-model="ticket.date">
            </div>
          </div>
          <div class="row">
            <div class="row-footer">
              <button class="green" @click="handleSaveNewTicket">SAVE</button>
              <button class="red" @click="handleCancelNewTicket">CANCEL</button>
            </div>
          </div>
          <div class="error-message" v-bind:class="{ hide: !newTicketErrorVisible}">
            <h1>*** ALL FIELDS ARE REQUIRED ***</h1>
          </div>
        </div>
      </div>

    </div>

  </div>

</body>
<!--Add Scripts here-->


</html>
